# Exam1

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [9]:
def lesser_of_two_evens(a,b):
    
    if a % 2 == 0 and b % 2 == 0 :
        
        print(min(a,b))
        
    else :
        
        print(max(a,b))

In [10]:
# Check
lesser_of_two_evens(2,4)

2

In [11]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [12]:
def animal_crackers(text):
    
    x = text.split(" ")
    
    if x[0][0] == x[1][0] :
        
        return True
    
    else :
        
        return False

In [13]:
# Check
animal_crackers('Levelheaded Llama')

True

In [14]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [15]:
def makes_twenty(n1,n2):
    
    if n1 + n2 == 20 or n1 == 20 or n2 == 20 :
        
        return True
    
    else :
        
        return False

In [16]:
# Check
makes_twenty(20,10)

True

In [17]:
# Check
makes_twenty(2,3)

False

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [26]:
def old_macdonald(name):
    
    print(name[0].upper()+name[1:3]+name[3].upper()+name[4:])

In [27]:
# Check
old_macdonald('macdonald')

MacDonald

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [33]:
def almost_there(n):
    
    if n in range(90 , 111) or n in range(190 , 211) :
        
        return True
    
    else :
        
        return False

In [34]:
# Check
almost_there(104)

True

In [35]:
# Check
almost_there(150)

False

In [36]:
# Check
almost_there(209)

True

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [52]:
def has_33(nums):
    
    for i in range(len(nums)-1) :
        
        if nums[i] == nums[i+1] == 3 :
            
            return True
        
    return False

In [53]:
# Check
has_33([1, 3, 3])

True

In [54]:
# Check
has_33([1, 3, 1, 3])

False

In [55]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [171]:
def paper_doll(text):
    
    x = ''
    
    for i in text :
        
         x += i*3
        
    print(x)

In [172]:
# Check
paper_doll('Hello')

HHHeeellllllooo

In [173]:
# Check
paper_doll('Mississippi')

MMMiiissssssiiissssssiiippppppiii

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [176]:
def blackjack(a,b,c):
    
    sume = a+b+c
    
    if sume <= 21 :
        
        print(sume)
        
    elif sume > 21 and (a == 11 or b == 11 or c == 11) :
        
        sume = sume - 10 
        
        print(sume)
        
    else :
        
        print('BUST')

In [177]:
# Check
blackjack(5,6,7)

18

In [178]:
# Check
blackjack(9,9,9)

BUST

In [179]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [235]:
def summer_69(arr):
    
    sume = 0
    
    x = 6
    
    y = 9
    
    for i in arr :
        
        if x in arr and y in arr :
            
            sume = sum(arr[:x])
        
            print(sume)
             
        else :
            
            print(sum(arr))

In [236]:
# Check
summer_69([1, 3, 5])

9
9
9

In [237]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

39
39
39
39
39
39

In [202]:
# Check
summer_69([2, 1, 6, 9, 11])

29
29
2
29
29

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [214]:
def spy_game(nums):
    
    x = []
    
    for i in nums :
        
        if i == 0 or i == 7 :
            
            x.append(i)
            
    if x == [0,0,7] :
         
            return True
        
    else :
        
        return False

In [215]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [216]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [217]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [253]:
def count_primes(num):
    
    count = 0
    
    for i in range(1,num) :
        
        if i % i == 0 and i % 1 == 0 and i % 3 == 0 :
            
            count += 1 
        
    print(count)

In [254]:
# Check
count_primes(100)

33

## Great Job!